
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="../static/css/templatemo_562_space_dynamic/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/templatemo_562_space_dynamic/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo_562_space_dynamic/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="../static/css/templatemo_562_space_dynamic/assets/css/animated.css">
    <link rel="stylesheet" href="../static/css/templatemo_562_space_dynamic/assets/css/owl.css">
    <title>MAKES Change</title>

<body>
 
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            
            <!-- ***** Menu Start ***** -->
            {% block msg %}
      <br>
      <h1 class="header-title">Welcome to CompSci 316 MAKES Change!</h1>
    {% endblock %}
            <ul class="nav">
              <li id="odd"><a href="/">Home Page</a></li>

              <li id="even"><a href="{{ url_for('users.candidate') }}">Explore by Candidate</a></li>  
              <li id="odd"><a href="{{ url_for('committees.committees') }}">Explore by Committee</a></li>  
              <li id="even"><a href="{{ url_for('issues.issues') }}">Explore by Issue</a></li>  
              <li id="odd"><a href="{{ url_for('users.correlation') }}">Policy Implications</a></li>  
            </ul>                   
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="2s" data-wow-delay=".5s">
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}


      </div>

    </div>
  </div>
 
  <script src="../static/css/templatemo_562_space_dynamic/vendor/jquery/jquery.min.js"></script>
  <script src="../static/css/templatemo_562_space_dynamic/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/css/templatemo_562_space_dynamic/assets/js/owl-carousel.js"></script>
  <script src="../static/css/templatemo_562_space_dynamic/assets/js/animation.js"></script>
  <script src="../static/css/templatemo_562_space_dynamic/assets/js/imagesloaded.js"></script>
  <script src="../static/css/templatemo_562_space_dynamic/assets/js/templatemo-custom.js"></script>
</body>

</html>
