{% extends "base.html" %}

{% block content %}
<div class = "candidate-header"><a href="/candidate/{{cid}}"><h2> {{ all_votes[0].bioname }} </h2></a></div>
<div class = "candidate-party"><h5>{{all_votes[0].party}}</h5></div>
<br><br>
<h5>If candidate has history in the Senate, their voting records are below for Congress {{congress}}</h5>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    <br>
    {% endfor %}
  </ul>
  {% else %}
  <div class="dropdown">
    <button class="dropbtn">Which Congress?</button>
    <div class="dropdown-content">
      {% for congress in all_congresses %}
      <a href="/candidate/{{cid}}/congress/{{congress.congress}}">{{ congress.congress }}</a>
      {% endfor %}
    </div>
  </div>
  <div id="candidate-voting-table-wrapper">
    <div id="candidate-voting-table-scroll">
      <table>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Vote</th>
            <th scope="col">Congress Session</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Vote Date</th>
            <th scope="col">Vote Description</th>
            <th scope="col">Detailed Description</th>
            <th scope="col">Vote Result</th>
          </tr>
       </thead>
       <tbody>
          {% for vote in all_votes%}
            <tr>
              <td>{{vote.bioname}}</td>
              <td>{{vote.descr}}</td>
              <td>{{vote.congress}}</td>
              <td>{{vote.rollnumber}}</td>
              <td>{{vote.vote_date}}</td>
              <td>{{vote.vote_desc}}</td>
              <td>{{vote.dtl_desc}}</td>
              <td>{{vote.vote_result}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% endwith %}
</p>
{% endblock %}