{% extends "base.html" %}

{% block content %}
<br><br>
<h3>Here are all the candidates, search for and click a candidate name for further data.</h3>
<div class="candidate_search_bar">
  <form action="/candidate/" method="GET">
    <input type="text" list="candidates_search"  name = "name_candidate_search" id="all_candidates_search" placeholder="Search candidates..." />
      <datalist id="candidates_search">
        {% for name in all_names%}
        <option>{{name.bioname}}</option>
        {% endfor %}
      </datalist>
    <input type="submit" value="Go!" >
  </form>
</div>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    <br>
    {% endfor %}
  </ul>
  {% else %}
  <div id="candidate-homepage-list">
    <ul>
    {% for name in all_names%}
    <li><a href="\candidate\{{name.icpsr}}">{{name.bioname}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
</p>
{% endblock %}