{% extends "base.html" %}

{% block content %}
<div class = "candidate-header"><a href="/candidate/{{cid}}"><h2> {{ all_votes[0].bioname }} </h2></a></div>
<div class = "candidate-party"><h5>{{all_votes[0].party}}</h5></div>
<div class = "candidate-state"><h5><a href="/state/{{all_votes[0].state}}">State: {{all_votes[0].state}}</a></h5></div>
<br><br>
<h5 style="text-align:center;">If candidate has history in the Senate, their voting records are below for Congress {{congress}}</h5>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    <br>
    {% endfor %}
  </ul>
  {% else %}
  <div class="inline" style="text-align:center;">
  <br>
  <div class="dropdown" style="width: 250px;">
    <button class="dropbtn" style="width: 250px;">Which Congress?</button>
    <div class="dropdown-content" style="width: 250px;">
      {% for congress in all_congresses %}
      <a href="/candidate/{{cid}}/congress/{{congress.congress}}">{{ congress.congress }}</a>
      {% endfor %}
    </div>
  </div>
  </div>
  <div id="universal-table-wrapper">

    <div id="candidate-voting-table-scroll">
      <table>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Vote</th>
            <th scope="col">Congress Session</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Vote Date</th>
            <th scope="col">Vote Description</th>
            <th scope="col">Detailed Description</th>
            <th scope="col">Vote Result</th>
          </tr>
       </thead>
       <tbody>
          {% for vote in all_votes%}
            <tr>
              <td>{{vote.bioname}}</td>
              <td>{{vote.descr}}</td>
              <td>{{vote.congress}}</td>
              <td>{{vote.rollnumber}}</td>
              <td>{{vote.vote_date}}</td>
              <td>{{vote.vote_desc}}</td>
              <td>{{vote.dtl_desc}}</td>
              <td>{{vote.vote_result}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
  </div>
  {% endif %}
  {% endwith %}
  <h5 style="text-align:center;">Here are all the donations the candidate has received</h5>
  <br><br>
  <div id="universal-table-wrapper">
    <div id="candidate-voting-table-scroll">
      <table class="datatables">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Contributor</th>
            <th scope="col">Donation Amount(USD)</th>
            <th scope="col">Date of Donation</th>
          </tr>
       </thead>
       <tbody>
          {% for donation in all_donations%}
            <tr>
              <td>{{donation.contributor}}</td>
              <td>{{donation.donation_amount}}</td>
              <td>{{donation.donation_date}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
  </div>
  <h5 style="text-align:center;">Here is the total amount each organization has donated to the candidate</h5>
  <br><br>
  <div id="universal-table-wrapper">
    <div id="candidate-voting-table-scroll">
      <table class="datatables">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Contributor</th>
            <th scope="col">Total Donation Amount(USD)</th>
            <th scope="col">Number of Donations</th>
          </tr>
       </thead>
       <tbody>
          {% for gdonation in grouped_donations%}
            <tr>
              <td>{{gdonation.contributor}}</td>
              <td>{{gdonation.donation_amoun}}</td>
              <td>{{gdonation.number_donations}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</p>
{% endblock %}