{% extends "base.html" %}

{% block content %}
<p><a href="\committee">Return to all committees</a></p>
<br>
<h2>Donations from {{cname}}</h2>
{% if state %}
<p>{{cname}} is based in {% if state !='DC' %}<a href="/state/{{state}}"> {% endif %}{{state}}</a> and is a {{ctype}} committee.</h5>
{% endif %}
{% if candidate_name !="NA" %}
  <p>{{cname}} is associated with candidate {{candidate_name}}, <a href="/candidate/">browse their voting records here!</a></p>
  {% endif %}
  <form  action="" method="post">
  {{ form.hidden_tag() }}

<div class="form-inline">
  <div class="search-header-comms">
    <div class="search-comms">
      <p>
        Search for a recipient: {{ form.to_ent }}
        Recipient type: {{form.recipient}}
        <br>
        {{ form.from_date.label }}:
          <input type="date" {{form.from_date(class='datepicker')}} 
          {% for error in form.from_date.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}  
        {{ form.to_date.label }}: 
          <input type="date" {{form.to_date(class='datepicker')}}
          {% for error in form.to_date.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

        Sort by: {{ form.order_by }}{{ form.sort }}
        <br>
        Display sum of donations: {{ form.total }}
        <br>
        <input id = "candidate_search_bar_go" type="submit" value="Find donation records!">
      </p>
    </div>
  </div>
</div>


</form>
<p>
  {% with messages = messages %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{ message }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>
{% if not err %}
<div id="universal-table-wrapper">
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Recipient Type</th>
      <th scope="col">Donation Recipient</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Donation Amount</th>
      <th scope="col">Election Cycle</th>
    </tr>
  </thead>
  <tbody>
    {% for c in all_committees %}
      <tr>
        <td>{{c.entity_tp}}</td>
        <td>{{c.name_contributor}}</td>
        <td>{{c.transaction_date}}</td>
        <td>${{c.transaction_amount}}</td>
        <td>{{c.cycle}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endif %}

{% endblock %}
