{% extends "base.html" %}

{% block content %}
<h4 class="page-header">Search for donations involving different committees! <br>
</h4>
<form  action="" method="post">
  {{ form.hidden_tag() }}
  
<div class="form-inline">
  <div class="search-header-comms">
    <div class="search-comms">
      <p>
      Search for a committee or recipient: 
      {{ form.query(size=30)}}  
      Committee type: {{form.committee_type}}
      <br>
      From date: 
      <input type="date" {{form.from_date}}    
      {% for error in form.from_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      To date: 
      <input type="date" {{form.to_date}}    
      {% for error in form.to_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      Election cycle: {{form.view}}
      <br>
      Sort by: {{form.order_by}} {{form.sort}}
      <br>
      {{form.rows}} rows per page  
      <br>
      {% for error in form.query.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    <input id = "candidate_search_bar_go" type="submit" value="Find donation records!">
  </p>
  </div>
</div>

</div>

<p>
  {% with messages = messages %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{ message }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>
{{pagination.info}}
{{pagination.links}}
{% if not err %}
<div id="universal-table-wrapper">
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Committee Type</th>
      <th scope="col">Committee Name</th>
      <th scope="col">Recipient Name</th>
      <th scope="col">Transaction Amount</th>
      <th scope ="col">Transaction Date</th>
      <th scope="col">Election Cycle</th>

    </tr>
  </thead>
  <tbody>

    {% for c in all_committees %}
      <tr class = 'clickable-row' data-href="\committee\{{c.cid}}">
        <td>{{c.ctype}}</td>
        <td>{{c.cname}}</td>
        <td>{{c.name_contributor}}</td>
        <td width=8>${{c.transaction_amount}}</td>
        <td width=10>{{c.transaction_date }}</td>
        <td width=4>{{c.cycle}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>
{{pagination.links}}
</div>

{% endif %}

  
{% if err %} 
<p>No committees found with the given parameters :( </p>
{% endif %}
{% endblock %}

