{% extends "base.html" %}

{% block content %}
<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<form class="form-inline" action="" method=post>
  {{optionsForm.hidden_tag()}}
  <p>
    {{optionsForm.label}}
    {{optionsForm.options}}
  </p>
  <p>
    {{optionsForm.submit}}
  </p>

</form>

<form class="form-inline" action="" method=post>
  {{form.hidden_tag()}}
{% if stateTruthy %}
<p>
  {{form.state.label}}
  {{form.state}}
</p>
{% endif %}
{% if issueTruthy %}
<p>
  {{form.issue.label}}
  {{form.issue }}
</p>
{% endif %}  
{% if candidateTruthy %}
<p>
  {{form.candidate.label}}
  {{form.candidate }}
</p>
{% endif %}  
{% if passedTruthy %}
<p>
  {{form.passed.label}}
  {{form.passed }}
</p>
{% endif %}  
<p>
  {{form.submit()}}
</p>
</form>
<br><br>
<h3>Donations and Related Info:</h3>
<div id="candidate-voting-table-wrapper">
<div id="candidate-voting-table-scroll">
<table>
  <thead class="thead-dark">
    <tr>
      <th scope="col">State</th>
      <th scope="col">Donator</th>
      <th scope="col">Amount</th>
      <th scope="col">Committee</th>
      <th scope="col">Passed</th>
      <th scope="col">Issue</th>
      <th scope="col">Candidate</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    {% for entry in data %}
      <tr>
        <th scope="row">{{entry.state_id}}</th>
        <td>{{entry.donator_id}}</td>
        <td>{{entry.committee_id}}</td>
        <td>{{entry.candidate_id}}</td>
        <td>{{entry.amount}}</td>
        <td>{{entry.passed}}</td>
        <td>{{entry.issue}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<body>
  <h1Visualization>
    <img src= "{{ url_for('index.visualize') }}">
  </h1Visualization>
</body>
{% endblock %}

