{% extends "base.html" %}

{% block content %}
<br><br>
<head>
<div class = "page-header"><h2> Select your filters!!</h2></div>
{{optionsForm.hidden_tag()}}
{{form.hidden_tag()}}

<form class="form-inline" action="" method=post>
    {{optionsForm.label}}
    {{optionsForm.options}}
    {{optionsForm.submit}}

</form>
<form class="form-inline" action="" method=post>
{% if stateTruthy %}
  {{form.state.label}}
  {{form.state}}
{% endif %}
{% if issueTruthy %}
<p>
  {{form.issue.label}}
  {{form.issue }}
</p>
{% endif %}  
{% if candidateTruthy %}
<p>
  {{form.candidate.label}}
  {{form.candidate }}
</p>
{% endif %}  
{% if passedTruthy %}
<p>
  {{form.passed.label}}
  {{form.passed }}
</p>
{% endif %}
{%if passedTruthy or stateTruthy or candidateTruthy or issueTruthy%}  
<p>
  {{form.submit()}}
</p>
{% endif %}
</form>
<br><br>
<div id="universal-table-wrapper">

<div class = "correlation-header"><h2>Donations and Related Info:</h2></div>
</head>
<div id="candidate-voting-table-wrapper">
<div id="candidate-voting-table-scroll">
<table>
  <thead class="thead-dark">
    <tr>
      <th scope="col">State</th>
      <th scope="col">Donator</th>
      <th scope="col">Amount</th>
      <th scope="col">Committee</th>
      <th scope="col">Passed</th>
      <th scope="col">Issue</th>
      <th scope="col">Candidate</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    {% for entry in data %}
      <tr>
        <td scope="row">{{entry.state_id}}</td>
        <td>{{entry.donator_id}}</td>
        <td>{{entry.committee_id}}</td>
        <td>{{entry.candidate_id}}</td>
        <td>{{entry.amount}}</td>
        <td>{{entry.passed}}</td>
        <td>{{entry.issue}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<br></br>
<body>
  <div class = "correlation-header"><h2> Aggregation of Data based on filters</h2></div>
  <h1Visualization>
    <img src= "{{ url_for('index.visualize') }}">
  </h1Visualization>
</body>
{% endblock %}

