{% extends "base.html" %}

{% block content %}
<br><br>

<form class="form-inline" action="" method="post">

  <select name="issue_category" class="Input" size="1">
    <option hidden>Select Category</option>
    {% for subject in list_subjects %}
    <option value="{{subject[0]}}" {% if form.issue_category.data == subject[0] %} selected {% endif %}>{{subject[0]}}</option>
    {% endfor %}
    <!-- <option value="Health">Health</option>s
    <option value="International Affairs">International Affairs</option>
    <option value="Oil and gas">Oil and gas</option>
    <option value="Education">Education</option>
    <option value="Crime and Law Enforcement">Crime and Law Enforcement</option>
    <option value="Armed Forces and National Security">Armed Forces and National Security</option> -->
  </select>



 <!-- <select name="politician" class="Input" size="1">
    <option value="Grassley, Chuck">Grassley, Chuck</option> 
    <option value="Cruz, Ted">Cruz, Ted</option>
    <option value="Murkowski, Lisa">Murkowski, Lisa</option>
    <option value="Ossoff, Jon">Ossoff, Jon</option>
    <option value="Tillis, Thomas">Tillis, Thomas</option>
    <option value="Klobuchar, Amy">Klobuchar, Amy</option>
  </select>
-->

  <select name="politician" class="Input" size="1">
    <option hidden>Select Your Senator</option>
    {% for senator in list_senators %}
    <option value="{{senator[0]}}" {% if form.politician.data == senator[0] %} selected {% endif %}>{{senator[0]}}</option> 
    {% endfor %}
  </select>


  <!-- <p>
    {{ form.issue_category.label }} 
    {{ form.issue_category(size=15) }}
  </p> -->

  {{ form.hidden_tag() }}
  {{ form.search() }}
</form>

{% if form.politician.data %}
<h3><a href={{cid_link}}>Click here to see all the legislation {{form.politician.data}} has voted on</a></h3>
{% endif %}


<h4 class="page-header">All issues:</h4>
<div id="universal-table-wrapper">
  <div id="candidate-voting-table-scroll">

<table >
  <thead class="thead-dark">
    {% for issue in list_issues %}
    <tr>
      <!-- <th scope="col">Legislation Number</th> -->
      <th scope="col" colspan="2">Title</th>
      <td scope="row" colspan="10" style="text-align:left">{{issue.title}}</td>
    </tr>
    <tr>
      <th scope="col">Sponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Legislation URL</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <!-- <td scope="row">{{issue.legislation_number}}</td> -->
        <!-- <td scope="row">{{issue.legislation_URL}}</td> -->
        <!-- <td>{{issue.legislation_URL}}</td> -->
        <td scope="row">{{issue.sponsor}}</td>
        <td>{{issue.cosponsor1}}</td>
        <td>{{issue.cosponsor2}}</td>
        <td>{{issue.cosponsor3}}</td>
        <td>{{issue.cosponsor4}}</td>
        <td>{{issue.cosponsor5}}</td>
        <td>{{issue.subject1}}</td>
        <td>{{issue.subject2}}</td>
        <td>{{issue.subject3}}</td>
        <td>{{issue.subject4}}</td>
        <td>{{issue.subject5}}</td>
        <td scope="row"><a href={{issue.legislation_URL}}>{{issue.legislation_URL}}</a></td>
      </tr>
  </tbody>
  {% endfor %}
</table>

<table >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Industry</th>
      <th scope="col">Total_Donations</th>
      <th scope="col">Individual Donations</th>
      <th scope="col">PAC Donations</th>
    </tr>
  </thead>
  <tbody>
    {% for donation in list_donations %}
      <tr>
        <td scope="row">{{donation.industry[0]}}</td>
        <td>{{donation.total_donations[0]}}</td>
        <td>{{donation.individual_donations[0]}}</td>
        <td>{{donation.pac_donations}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


</div>
<body>
  <div></br></br></div>
  {% if form.politician.data %}
  <div class = "correlation-header"><h2> Aggregation of Data based on filters</h2></div>
  <h1Visualization>
    <img src= "{{ url_for('issues.visualize') }}" size="30">
  </h1Visualization>
  {% endif %}
</body>
</div>


<!-- 
<h2>All issues:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Issue ID</th>
      <th scope="col">Policy Category</th>
      <th scope="col">Politician</th>
      <th scope="col">Donor</th>
      <th scope="col">Donor Industry</th>
      <th scope="col">Donation Amount</th>
      <th scope="col">Year</th>
      <th scope="col">Legislation</th>
      <th scope="col">Vote</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in list_issues %}
      <tr>
        <th scope="row">{{issue.id}}</th>
        <td>{{issue.policy_category}}</td>
        <td>{{issue.politician}}</td>
        <td>{{issue.donor}}</td>
        <td>{{issue.donor_industry}}</td>
        <td>{{issue.donation_amount}}</td>
        <td>{{issue.yr}}</td>
        <td>{{issue.legislation}}</td>
        <td>{{issue.vote}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->

{% endblock %}
