{% extends "base.html" %}

{% block content %}
<br><br>

<!-- category selector -->
<form class="form-inline" action="" method="post">

  <select name="issue_category" class="Input" size="1">
    <option hidden>Select Category</option>
    {% for subject in list_subjects %}
    <option value="{{subject[0]}}" {% if form.issue_category.data == subject[0] %} selected {% endif %}>{{subject[0]}}</option>
    {% endfor %}
  </select>

<!-- politician selector -->
  <select name="politician" class="Input" size="1">
    <option hidden>Select Your Senator</option>
    {% for senator in list_senators %}
    <option value="{{senator[0]}}" {% if form.politician.data == senator[0] %} selected {% endif %}>{{senator[0]}}</option> 
    {% endfor %}
  </select>


  {{ form.hidden_tag() }}
  {{ form.search() }}
</form>

<!-- link to candidate page -->
{% if form.politician.data %}
<h3><a href={{cid_link}}>Click here to see all the legislation {{politician_name_formatted}} has voted on</a></h3>
<div></br></div>
{% endif %}

{% if form.politician.data %}
<h4 class="page-header">Legislation your Senator has sponsored:</h4>
{% else %}
<h4 class="page-header">All legislation:</h4>
{% endif %}
<div id="universal-table-wrapper">
  <div id="candidate-voting-table-scroll">

    <!-- table to show sponsored legislation -->
<table >
  <thead class="thead-dark">
    {% for issue in list_issues %}
    <tr>
      <!-- <th scope="col">Legislation Number</th> -->
      <th scope="col" colspan="2">Title</th>
      <!-- <td scope="row" colspan="10" style="text-align:left">{{issue.title}}</td> -->
      <td scope="row" colspan="9" style="text-align:left"><a href={{issue.legislation_URL}}>{{issue.title}}</a></td>
    </tr>
    <tr>
      <th scope="col">Sponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Cosponsor</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject</th>
      <!-- <th scope="col">Legislation URL</th> -->
    </tr>
  </thead>
  <tbody>
      <tr>
        <!-- <td scope="row">{{issue.legislation_number}}</td> -->
        <!-- <td scope="row">{{issue.legislation_URL}}</td> -->
        <!-- <td>{{issue.legislation_URL}}</td> -->
        <td scope="row">{{issue.sponsor}}</td>
        <td>{{issue.cosponsor1}}</td>
        <td>{{issue.cosponsor2}}</td>
        <td>{{issue.cosponsor3}}</td>
        <td>{{issue.cosponsor4}}</td>
        <td>{{issue.cosponsor5}}</td>
        <td>{{issue.subject1}}</td>
        <td>{{issue.subject2}}</td>
        <td>{{issue.subject3}}</td>
        <td>{{issue.subject4}}</td>
        <td>{{issue.subject5}}</td>
        <!-- <td scope="row"><a href={{issue.legislation_URL}}>{{issue.legislation_URL}}</a></td> -->
      </tr>
  </tbody>
  {% endfor %}
</table>
<!-- table to show industry donations -->
<div> </br> </div>
<table >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Industry</th>
      <th scope="col">Total_Donations</th>
      <th scope="col">Individual Donations</th>
      <th scope="col">PAC Donations</th>
    </tr>
  </thead>
  <tbody>
    {% for donation in list_donations %}
      <tr>
        <td scope="row">{{donation.industry[0]}}</td>
        <td>{{donation.total_donations[0]}}</td>
        <td>{{donation.individual_donations[0]}}</td>
        <td>{{donation.pac_donations}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- visualization of donations -->
</div>
<body>
  <div></br></div>
  {% if form.politician.data %}
  <div class="correlation-header"><h2>Donation Breakdown by Industry</h2></div>
  <h1Visualization>
    <div></br></div>
    <img src= "{{ url_for('issues.visualize') }}" size="30">
  </h1Visualization>
  {% endif %}
</body>
</div>

{% endblock %}
