{% extends "base.html" %}

{% block content %}

<br><br>
     
<div class = "page-header"><h1> Senate Campaign Donations in {{ all_states[0].state_id }} </h1></div>
<br>
<div class = "race-instructions"><h5>Select a year to explore a specific race.</h5></div>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    <br>
    {% endfor %}
  </ul>
  {% else %}
  <div id="year-list">
    <ul class="in-line">
    {% for year in all_years%}
    <li><a href="/state/{{year.state_id}}/{{year.year}}">{{year.year}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
</p>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Candidate</th>
      <th scope="col">Party</th>
      <th scope="col">Incumbent Status</th>
      <th scope="col">Total Receipts</th>
      <th scope="col">Percent Vote</th>
    </tr>
  </thead>
  <tbody>
    {% for candidate in all_states%}
      <tr>
        <th scope = "row">{{candidate.year}}</th>
        <td>{{candidate.candidate_name}}</td>
        <td>{{candidate.party}}</td>
        <td>{{candidate.incumbent_status}}</td>
        <td>{{candidate.total_receipts}}</td>
        <td>{{candidate.percent_vote}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
