{% extends "base.html" %}

{% block content %}

<br><br>

<div class = "page-header"><a href="/state/{{all_race[0].state_id}}"><h1> Senate Campaign Donations in {{ all_race[0].state_id }} </h1></a></div>
<br>

<div class = "race-year"><h3>during the {{all_race[0].year}} election</h3></div>
<br><br><br>

<div id="universal-table-wrapper">

<!-- create table -->
<table  class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Candidate</th>
        <th scope="col">Party</th>
        <th scope="col">Incumbent Status</th>
        <th scope="col">Total Receipts</th>
        <th scope="col">Percent Vote</th>
      </tr>
    </thead>
    <tbody>
      <!-- find the  highest percent vote from the race -->
      {% set max_vote = namespace(value = 0) %}
      {% for candidate in all_race%}
        {% if candidate.percent_vote > max_vote.value %}
          {% set max_vote.value = candidate.percent_vote %}
        {% endif %}
      {% endfor %}
      {% for candidate in all_race%}
        <tr>
          <th scope = "row">{{candidate.candidate_name}}</td>
          <td>{{candidate.party}}</td>
          <td>{{candidate.incumbent_status}}</td>
          <!-- highlight the total receipts of the winning candidate in red -->
          {% if candidate.percent_vote == max_vote.value %}
          <td style = "background-color: var(--universal-red)">{{candidate.total_receipts}}</td>
          {% else %}
          <td>{{candidate.total_receipts}}</td>
          {% endif %}
          <td>{{candidate.percent_vote}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- explanation of highlighting -->
<center>
<b style="border-right:18px solid var(--universal-red);"></b> &nbsp; = total receipts of the winning candidate
</center>

{% endblock %}