section {
color: #fff;
text-align: center;
}

.container {
display: table;
width: 100%;
}

.left-half {
background-color: #ff9e2c;
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
background-color: #b6701e;
position: absolute;
right: 0px;
width: 50%;
}

.menu {
    body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
header {  
background-color: orange;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: blue;  
text-decoration: none;  
}  
}

#candidate-voting-table-wrapper {
    position:relative;
}
#candidate-voting-table-scroll {
    height:500px;
    overflow:auto;  
    margin-top:20px;
}
#candidate-voting-table-wrapper table {
    width:100%;
    text-align: center;
}
#candidate-voting-table-wrapper table * {
    background:lightgray;
    color:black;
    border: 0.5px solid black;
}
#candidate-voting-table-wrapper th {
    position:sticky;   
    top: 0;
    background:purple;
    color:aliceblue;
}

#candidate-homepage-list ul {
    column-count: 6;
    background: aliceblue;
    padding: 20px;
}

#candidate-homepage-list ul li{
    background: white;
    margin: 3px;
}

#candidate-homepage-list li a{
    color: purple;
}

#main-menu ul{
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    padding-top: 20px;
}

#main-menu li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px 12px;
    font-size: 17px;
    font-family: sans-serif;  
}

#main-menu ul li{
    float: center; 
}

#main-menu.menu{
    display: flex;
    justify-content: space-around;
}

#main-menu li a:hover{
    background-color: purple;
}
 
#main-title h1{
    color:aliceblue;
    text-align: center;
}

#state-click-title h5{
    text-align: center;
}

path {
    fill:lightsteelblue;
    pointer-events:all;
}

path:hover {
    fill:purple;
}

.dropbtn {
    background-color: purple;
    color: aliceblue;
    padding: 16px;
    font-size: 15px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: aliceblue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: purple;}